<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Código de verificación de cuenta</h1>
<p>Hola desde itetitulación!</p>
<p>Has recibido este correo debido a que tu dirección de correo electrónico <a>{{email}}</a> ha sido registrado en
    una cuenta en <a>itetitulación.com</a></p>
<p>Termina de verificar tu cuenta con el siguiente código OTP</p>
<p>El código expira en <b>15 minutos</b> después de haber recibido este correo.</p>
<p>Tu código OTP de verificación:</p>
<h3>{{code}}</h3>
</body>
</html>