.wrapper {
  display: flex;
  justify-content: space-between;
}

.main,
.sidebar {
  border: 3px solid black;
  padding: 15px;
  background-color: #a2f;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main {

}

.sidebar {
  width: 25%;
  height: 25vh;
}
.historyBox {
    width: 70%;

  }

@media (max-width:767px){
  .historyValidation {
  flex-direction: column-reverse;
}
  .historyBox {
    width: 100%;
  }
}


